header {
    color: #007e99;
    font-size: 2.5em;
    padding: 20px 50px;
}

header span {
    color: #722;
}

nav {
    font-size: 1.5em;
    margin: 5px 0;
    padding: 20px 50px;
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav li:first-child {
    margin-left: 0;
}

* html nav ul {
    margin-left: -15px;
}

nav span, nav a {
    padding: 3px 15px 4px
}

nav span {
    background: #722;
    color: #fff;
}

section {
    float: left;
    padding: 35px 0;
    position: relative;
    width: 70%;
}

section article {
    margin: 0 50px 40px;
    padding: 25px 0 0;
    position: relative;
}

section header {
    font-size: 1em;
    padding: 0;
}

section h2 {
    font-size: 2.3em;
}

figcaption {
    font-style: italic;
    font-size: 0.8em;
    width: 100%;
}

aside {
    float: right;
    padding: 70px 0 30px;
    position: relative;
    width: 25%;
}

aside h2 {
    color: #888;
    font-size: 1.8em;
}

aside .tag-cloud {
    padding: 15px 35px 10px 0;
    text-align: center;
}

footer {
    clear: both;
    color: #777;
    padding: 10px 50px;
}